body {
  background-image: url("../images/Pixel3.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.text {
  line-height: 2;
}

.downArrow {
  height: 50px;
}
